#main-container{
    width: 100%;
    height: 100vh;
}

#app{
    width: 100%;
    height: 100%;
}

.my-container{
    max-width: 1000px;
    min-height: 700px;
    margin: 20px auto;
    padding-top: 30px;
    border: 2px solid black;
}

.row{
    width: 100%;
    height: 700px;
    margin: 0;
}

.row > *{
    padding: 0;
}

.col-5, .col-7{
    height: 100%;
}

.user{
    width: 100%;
    height: 10%;
    background-color: #EAEAEA;
}

.disable-notifications{
    width: 100%;
    height: 10%;
    background-color: #8EDAFB
}

.search{
    width: 100%;
    height: 5%;
    border-bottom: 1px solid #EAEAEA;
}

.search-bar{
    width: 100%;
    padding: 5px;
}

.search-bar span{
    display: inline-block;
    width: 20%;
    border: 1px solid #B6B9BC;
    color: #B6B9BC
}

.search-bar input{
    width: 80%;
    border: 1px solid #B6B9BC;
    background-color: white;
    padding: 0 10px;
    font-weight: bold;
}

#contact-list{
    width: 100%;
    height: 75%;
    padding: 0;
    margin: 0;
    overflow-y: auto;

}

.contact-text{
    width: 70%;
}

.contact-image, .user-image{
    width: 20%;
    height: 100%;
}

.user-image img{
    border-radius: 50%;
    width: 80%;
    padding: 5px;
}

.contact-image > img{
    border-radius: 50%;
    padding: 10px;
}

.user-name{
    width: 50%;
}

.user-options{
    width: 30%;
}

.badge-notification{
    width: 50px;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 50px;
    margin-left: 15px;
    background-color: white;
}

.badge-notification > i{
    color: #8EDAFB;
}

.chat-info{
    width: 100%;
    height: 10%;
    background-color: #EAEAEA;
}

.chat-image{
    width: 10%;
    margin-left: 10px;
}
.chat-image img{
    width: 100%;
    border-radius: 50%;
}

.chat-name{
    width: 70%;
}
.chat-options{
    width: 20%;
}

.chat-screen{
    width: 100%;
    height: 85%;
    background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
    background-size: 100%;
    padding: 10px;
    overflow-y: auto;
}

.chat-screen > div .message{
    max-width: 60%;
    display: flex;
    padding: 5px 50px 5px 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: white;
    position: relative;
}

.time-message{
    font-size: 10px;
    color: rgba(210, 205, 205);
    position: absolute;
    bottom: 3px;
    right: 5px;
}

.chat-screen div .sender{
    background-color: #D5F9BA;
}

.chat-text{
    width: 100%;
    height: 5%;
    background-color: #F3EEE9;
}

.chat-text input{
    width: 80%;
    height: 80%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #EAEAEA;
}

i{
    cursor: pointer;
    color: grey;
}

.activate-chat{
    background-color: rgba(128, 128, 128, 0.5);
}

.font-size{
    font-size: 10px;
    margin-right: 8px;
    margin-left:auto
}